MONETIZATION_OS_SECRET_KEY=blank
ORIGIN_URL=https://origin.example
SURFACE_SLUG=the-future-herald-web
AUTHENTICATED_USER_JWT_COOKIE_NAME=__session
ANONYMOUS_SESSION_COOKIE_NAME=anon-session-id
MONETIZATION_OS_HOST_OVERRIDE=